{{ partial "header.html" . }}

	  <div id="wrapper">
		  <div class="box">
			  <div class="header">
			  <h1>{{.Title}}</h1>
			  <small><a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></small>
			  </div>
			  <div class="main">
				  <div class="content">
				      <div class="posts">
						  {{ range .Paginator.Pages }}
				        <ul class="post">
				          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				        </ul>
				        {{ end }}
				      </div>
				      {{ partial "pagination.html" . }}
					</div>
			  </div>
			  <div class="footer">
			  </div>
	  	 </div>
	</div>  
  {{ partial "footer.html" . }}
  
