{{ partial "header.html" . }}
	  <div id="wrapper">
		  <div class="box">
			  <div class="header">
			  <h1>{{.Title}}</h1>
			  <small><a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></small>
			  </div>
			  <div class="main">
				  <div class="content">
				      
					  
					  {{ $data := .Data }}
					      {{ range $key,$value := .Data.Terms.ByCount }}
					      <h2><a href="{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> {{ $value.Count }}</h2>
					      <ul>
					      {{ range $value.Pages.ByDate }}
					        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					      {{ end }}
					      </ul>
					      {{ end }}
					  
					  
					</div>
			  </div>
			  <div class="footer">
				  热门标签: <a>测试</a> <a>勇敢</a>
			  </div>
	  	 </div>
	</div>  
  {{ partial "footer.html" . }}
  
